
body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* Common Styles */
.fixed-width{
    width: 1100px;
    margin: auto;
}

/*---------------------------------- Header-menu ---------------------------------*/
.container{
    background: url(assets/images/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    border-bottom: 1px solid rgb(177, 175, 175);
    padding: 15px 0; 
}
.left-menu h2{
    color: white;
    font-size: 2em; 
    font-weight: 600; 
} 
.left-menu h2 span{ 
    font-size: 18px; 
}

.right-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-menu .menu-items ul{
    display: flex;
}
.right-menu .menu-items ul li{
    list-style: none;
    margin-right: 60px; 
}
.right-menu .menu-items ul li a{
    color: white;
    text-decoration: none;
    font-weight: 300;  
}
.right-menu .menu-items ul li a:hover{
    color: blue;
}

.sign-button a{
    text-decoration: none;
    color: white; 
    display: inline-block;
    border: 2px solid white; 
    padding: 5px 25px;  
}
.sign-button a:first-child{
    margin-right: 20px; 
    transition: 0.8s;
}
.sign-button a:first-child:hover{
    background: white;
    color: blue; 
}
.sign-button a:last-child{
    background: #00BCD4 ; 
    transition: 0.8s; 
}
.sign-button a:last-child:hover{
    background: #E33D30;
}
/*------- menu bar done  ---------*/

/*---------------------------------- Banner ---------------------------------*/
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 250px;
}
.banner-container h2{
    color: white;
    font-size: 3em ;
}
.banner-container .search-box{
    margin-bottom: 30px; 
}
.banner-container .search-box form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container .search-box .inputBox{
    position: relative;
}
.banner-container .search-box .inputBox input{
    width: 500px; 
    background: transparent;
    outline: none;
    font-size: 20px;
    padding: 10px 20px; 
    border: 1px solid white; 
    position: relative; 
}
.banner-container .search-box .inputBox input:focus ~ span{
    transform: translateY(-12px) translateX(9px);
    color: white;
    background: #412AB0;
    padding: 0px;
}
.banner-container .search-box .inputBox span{
    color: grey;
    font-size: 20px;
    padding: 10px 20px;
    position: absolute; 
    top: 0;
    left: 0; 
    pointer-events: none;
    transition: 0.5s; 
}
.search-box a{
    text-decoration: none;
    color: white;
    background: #00BCD4;
    padding: 13px 20px; 
    margin-left: 15px; 
    text-transform: uppercase;
    transition: 0.5s; 
}

.search-catagory label{
    color: white;
}
.search-catagory label span{
    font-size: 1.2em; 
}


/*---------------------------------- Trust Section---------------------------------*/
.trust-section{
    background: #F7F7F7;
}
.trust-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 45px 0;
}
.trust-sections h3 {
    font-size: 1.7em;
    margin-bottom: 50px; 
}
.trust-sections .trust-logo{
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*---------------------------------- Service Section---------------------------------*/

.service-headings{
    margin-top: 100px; 
    margin-bottom: 50px; 
}
.service-headings h3{
    font-size: 1.1em;
    color: #00BDD6;
}
.service-headings h1{
    font-size: 1.9em;
    font-weight: bold; 
}

.service-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-box{
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 15px;
    border-radius: 10px; 
    text-align: center;
}
.service-box span{
    margin-top: 40px; 
    font-size: 6em;
    background: #00BCD4;
    padding: 20px 30px; 
    border-radius: 50%; 
}










/*------------------------------------ media query  ------------------------------------*/
/* For mobile:  */
@media only screen and (max-width:767px){
    /* header menu bar  */
    .menu-container{
        display: flex;
        justify-content: space-between;
        width: 95%;  
        margin: auto;
    }
    .right-menu .menu-items ul{
        display: none; 
    }
    .sign-button{
        display: flex;
        flex-direction: column;
        row-gap: 15px; 
    }
    .sign-button a:first-child{
        margin-right: 0px; 
        transition: 0.8s;
    }

    /* Banner  */
    .banner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .banner-container h2{
        color: white;
        font-size: 2em ;
    }
    .banner-container .search-box form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .banner-container .search-box .inputBox input{
        width: 300px; 
        background: transparent;
        outline: none;
        font-size: 20px;
        padding: 10px 20px; 
        border: 1px solid white; 
        position: relative; 
        margin-bottom: 20px; 
    }
    .search-catagory form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px; 
    }

    /* Trust section  */
    .trust-sections h3 {
        font-size: 1.2em;
        margin-bottom: 50px; 
        text-align: center;
        padding: 20px;
    }
    .vanished-logo{
        display: none;
    }
}

/* For tablet:  */
@media only screen and (min-width:768px) and (max-width:991px) {
    /* header menu bar  */
    .menu-container{
        display: flex;
        justify-content: space-between;
        width: 95%;  
        margin: auto;
    }
    .right-menu .menu-items ul{
        display: none; 
    }
    .sign-button{
        display: flex;
        flex-direction: column;
        row-gap: 15px; 
    }
    .sign-button a:first-child{
        margin-right: 0px; 
        transition: 0.8s;
    }
    .right-menu .menu-items ul{
        display: flex;
        margin-right: 40px; 
    }
    .right-menu .menu-items ul li{
        list-style: none;
        margin-right: 20px; 
    }
}









